#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 13vmin;
}

.title {
  font-size: 13vmin;
  text-align: center;
}

.title.lovers {
  font-size: 18vmin;
  margin-top: -7vmin;
}

.main.buttons {
  text-align: center;
  padding: 1rem;
}

.main.buttons :not(:first-child) {
  margin-left: 1rem;
}
