.title {
  font-size: calc(0.13 * var(--aw));
  text-align: center;
}

.title.lovers {
  font-size: calc(0.18 * var(--aw));
  margin-top: calc(-0.07 * var(--aw));
}

.main.buttons {
  text-align: center;
  padding: 1rem;
}

.main.buttons :not(:first-child) {
  margin-left: 1rem;
}
