html, body {
  margin: 0;
  padding: 0;
}

html {
  min-height: -webkit-fill-available;
}

@supports not (-webkit-touch-callout: none) {
  body {
    height: 100vh;
  }
}

body {
  display: flex;
  font-size: 18px;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
  overflow-y: auto;
}

:root {
  font-family: Helvetica;
  line-height: 1.5;
  font-weight: 400;

  background-color: #f1c331;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --aw: min(100vw, calc(0.6 * 100vh)); /* app width */
}

#root {
  display: flex;
  flex-direction: column;
  width: var(--aw);
  max-width: var(--aw);
  margin: 0 auto;
  padding: calc(0.13 * var(--aw));
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  margin-top: 2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #7c46c4;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}
